**Task 1: Data Cleaning and Preprocessing**

Identify and handle missing values using .isnull() in Python or filters in Excel.

Remove duplicate rows using .drop_duplicates() or Excel’s “Remove Duplicates”.

Standardize text values like gender, country names, etc.

Convert date formats to a consistent type (e.g., dd-mm-yyyy).

Rename column headers to be clean and uniform (e.g., lowercase, no spaces).

Check and fix data types (e.g., age should be int, date as datetime).

In [23]:
import pandas as pd
df = pd.read_csv('netflix_titles.csv')
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,25-Sep-21,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,24-Sep-21,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,24-Sep-21,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,24-Sep-21,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,24-Sep-21,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,20-Nov-19,2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,1-Jul-19,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,1-Nov-19,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,11-Jan-20,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2-Mar-19,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [26]:
#Identify and handle missing values using .isnull() in Python or filters in Excel.
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [27]:
#Drop Null Values
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

In [28]:
#Remove duplicate rows using .drop_duplicates() or Excel’s “Remove Duplicates”.
df.duplicated().sum()

np.int64(0)

In [29]:
#Standardize text values like gender, country names, etc.
df['country']

0       United States, Ghana, Burkina Faso, United Kin...
1                                          United Kingdom
2                                           United States
3                                 Germany, Czech Republic
4                                                   India
                              ...
5327                         United Arab Emirates, Jordan
5328                                        United States
5329                                        United States
5330                                        United States
5331                                                India
Name: country, Length: 5332, dtype: object

In [34]:
#Convert date formats to a consistent type (e.g., dd-mm-yyyy).
import datetime as dt
df['date_added'] = pd.to_datetime(df['date_added']).dt.strftime('%d-%m-%Y')
df['date_added']

<ipython-input-34-8c52e65815d5>:3: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['date_added'] = pd.to_datetime(df['date_added']).dt.strftime('%d-%m-%Y')

0       24-09-2021
1       24-09-2021
2       24-09-2021
3       23-09-2021
4       21-09-2021
           ...
5327    09-03-2016
5328    20-11-2019
5329    01-11-2019
5330    11-01-2020
5331    02-03-2019
Name: date_added, Length: 5332, dtype: object

In [37]:
#Rename column headers to be clean and uniform (e.g., lowercase, no spaces).
df.columns.str.lower().str.replace(" ","_")

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [42]:
#Check and fix data types (e.g., age should be int, date as datetime).
df.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object